<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>

<!--<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"-->
<!--        "http://java.sun.com/dtd/web-app_2_3.dtd">-->

<!--<web-app>-->
<!--  <display-name>Vehicle Reservation Web Application</display-name>-->

  <!-- Error Page Configuration -->
<!--  <error-page>-->
<!--    <exception-type>java.lang.Exception</exception-type>-->
<!--    <location>/error.jsp</location>-->
<!--  </error-page>-->

<!--  &lt;!&ndash; Servlet Mapping for JSP Files &ndash;&gt;-->
<!--  <servlet>-->
<!--    <servlet-name>jsp</servlet-name>-->
<!--    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>-->
<!--    <init-param>-->
<!--      <param-name>fork</param-name>-->
<!--      <param-value>false</param-value>-->
<!--    </init-param>-->
<!--    <init-param>-->
<!--      <param-name>xpoweredBy</param-name>-->
<!--      <param-value>false</param-value>-->
<!--    </init-param>-->
<!--    <load-on-startup>3</load-on-startup>-->
<!--  </servlet>-->

<!--  <servlet-mapping>-->
<!--    <servlet-name>jsp</servlet-name>-->
<!--    <url-pattern>*.jsp</url-pattern>-->
<!--  </servlet-mapping>-->

<!--  &lt;!&ndash; Welcome File Configuration &ndash;&gt;-->
<!--&lt;!&ndash;  <welcome-file-list>&ndash;&gt;-->
<!--&lt;!&ndash;    <welcome-file>index.jsp</welcome-file>&ndash;&gt;-->
<!--&lt;!&ndash;  </welcome-file-list>&ndash;&gt;-->
<!--</web-app>-->
